<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h3>Create Employee</h3>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/Employee/list" class="btn btn-secondary btn-sm">Back To Employees List</a>
      </div>
    </div>
    <br />
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

      <div class="form-group">
        <label for="name">Name:</label>
        <input formControlName="name"
               id="name"
               type="text"
               class="form-control" />
      </div>
           
      <div class="form-group">
        <label for="age">Age:</label>
        <input formControlName="age"
               id="age"
               type="text"
               class="form-control" />
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Create</button>
    </form>
  </div>
